[iosxe:vars]
ansible_connection=ansible.netcommon.network_cli
ansible_user=admin
ansible_password=nobodyknows
ansible_become=yes
ansible_become_method=enable
ansible_network_os=cisco.ios.ios
subnet_id=101

[iosxe]
198.18.133.100  # dcloud pod router #1
198.18.133.110  # dcloud pod router #2